@media(max-width: 768px){
    html, body{
        min-height: 2000px;
        min-width: 768px;
        height: 100vh;
        margin: 0;
    }

    .calculator-body.calculator.outer-body{
        margin-top: 550px;
        width: 550px;
        height: 700px;
    }

    .calculator-display.display{
        width: 500px;
    }

    .calculator-buttons.all-buttons{
        width: 500px;
        margin: 20px;
    }

    footer{
        min-width: 768px;
        margin-top: 100%;
    }
}

body {
    background-color: #F2A0DC;
    background-image: url("images/background.png");
}

.container{
    min-width: 720px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculator-body{
    margin-top: -50px;
    background-color: #272932;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    width: 500px;
    height: 600px;
    padding: 20px 0px;
    border-radius: 50px;
}

.calculator-display{
    border: 5px solid black;
    border-radius: 50px;
    background-color: #8ddbe0;
    width: 450px;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.display-value{
    text-align: right;
    font-family: 'Press Start 2P', monospace, system-ui;
    font-size: 60px;
    margin: 10px;
    inline-size: 550px;
    overflow-wrap: break-word;
    max-height: 200px;
    overflow-y: hidden;
}

.calculator-buttons{
    width: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button {
    border-radius: 10%;
    flex: 1 0 22%;
    margin: 5px;
    height: 75px;
    color: white;
    font-family: 'Press Play 2P', monospace, system-ui;
    font-size: 30px;
}

.operation{
    background-color: #8C0F31;
}

.clear-button{
    background-color: #8C0F31;
}

.symbol{
    background-color: #D92332;
}

.equals-button{
    background-color: #D92332;
}

.number-button{
    background-color: #D93D76;
}

.sticker {
    position: fixed;
}

.mom{
    width: 350px;
    top: -50px;
    left: -50px;
}

.duo{
    bottom: 0px;
    left: 10px;
}

.karen {
    width: 400px;
    right: -50px;
    top: -10px;
}

.damien {
    width: 370px;
    right: -40px;
    bottom: 40px;
}

#footer{
    font-family: monospace, system-ui;
    font-size: 20px;
    text-align: center;
    width: 100%;
}